div.logentry {margin-left: 3em;}
div.logentry span.loglevel { float: left; font-weight: bold;}
div.logentry datetime { float: right; font-variant: small-caps;}
div.logentry span.message { display: block; white-space: pre; }
