@font-face {
  font-family: 'Gentium';
  font-style: normal;
  font-weight: 400;
  src: local('Gentium Regular'), local('Gentium-Regular'),
        url(gentium/GenBkBasR.ttf), url(/static/fonts/gentium/GenBkBasR.ttf);}
@font-face {
  font-family: 'Gentium';
  font-style: italic;
  font-weight: 400;
  src: local('Gentium Italic'), local('Gentium-Italic'),
       url(gentium/GenBkBasI.ttf), url(/static/fonts/gentium/GenBkBasI.ttf);}
@font-face {
  font-family: 'Gentium';
  font-style: normal;
  font-weight: 600;
  src: local('Gentium Bold'), local('Gentium-Bold'),
       url(gentium/GenBkBasB.ttf), url(/static/fonts/gentium/GenBkBasB.ttf);}
@font-face {
  font-family: 'Gentium';
  font-style: italic;
  font-weight: 600;
  src: local('Gentium BoldItalic'), local('Gentium-BoldItalic'),
       url(gentium/GenBkBasBI.ttf), url(/static/fonts/gentium/GenBkBasBI.ttf);}

